@model MainBit.Localization.ViewModels.MainBitCultureViewModel
@{
    Layout.Title = T("Add culture");
}
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <fieldset class="addculture">
        @Html.LabelFor(m => m.Culture)
        @Html.DropDownListFor(m => m.SystemCulture, new SelectList(Model.AvailableSystemCultures.OrderBy(s => s)))
        @T("Other"): @Html.EditorFor(m => m.Culture)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.UrlSegment)
        @Html.EditorFor(m => m.UrlSegment)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.StoredPrefix)
        @Html.EditorFor(m => m.StoredPrefix)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.Position)
        @Html.EditorFor(m => m.Position)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.DisplayName)
        @Html.EditorFor(m => m.DisplayName)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.IsMain)
        @Html.EditorFor(m => m.IsMain)
        <span class="hint">@T("")</span>
    </fieldset>
    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
        @Html.ActionLink(T("Cancel").ToString(), "Index", null, new { @class = "button" })
    </fieldset>
}