@model MainBit.Localization.ViewModels.DomainCultureViewModel
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <fieldset>
        <ul>
            <li class="addculture">
                @Html.LabelFor(m => m.Culture)
                @Html.DropDownListFor(m => m.SystemCulture, new SelectList(Model.AvailableSystemCultures.OrderBy(s => s)))
                @T("Other"): @Html.EditorFor(m => m.Culture)
                <span class="hint">@T("")</span>
            </li>
            <li>
                @Html.LabelFor(m => m.BaseUrl)
                @Html.EditorFor(m => m.BaseUrl)
                <span class="hint">@T("Enter the fully qualified url of the web site.")</span>
                <span class="hint">@T("http://www.yourdomain.com")</span>
            </li>
            <li>
                @Html.LabelFor(m => m.AllowedBaseUrl)
                @Html.EditorFor(m => m.AllowedBaseUrl)
                <span class="hint">@T("The criterion to evaluate.")</span>
                <span class="hint">@T("^http://en\\.")</span>
            </li>
            <li>
                @Html.LabelFor(m => m.UrlPrefix)
                @Html.EditorFor(m => m.UrlPrefix)
                <span class="hint">@T("Prefix that uses for aliases.")</span>
            </li>
            <li>
                @Html.LabelFor(m => m.Position)
                @Html.EditorFor(m => m.Position)
                <span class="hint">@T("")</span>
            </li>
            <li>
                @Html.LabelFor(m => m.DisplayName)
                @Html.EditorFor(m => m.DisplayName)
                <span class="hint">@T("")</span>
            </li>
            <li>
                @Html.LabelFor(m => m.IsMain)
                @Html.EditorFor(m => m.IsMain)
                <span class="hint">@T("")</span>
            </li>
            <li>
                @Html.LabelFor(m => m.AppDomainSiteRecord_Id)
                @Html.EditorFor(m => m.AppDomainSiteRecord_Id)
                <span class="hint">@T("")</span>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <button class="primaryAction" name="submit" value="@T("Save")" type="submit">@T("Save")</button>
    </fieldset>
}