@model MainBit.Localization.ViewModels.GetSettingsViewModel
<fieldset>
    <legend>@T("Get Settings")</legend>
    <div class="editor-field">
        @Html.LabelFor(m => m.BaseUrl, T("Base Url"))
        @Html.EditorFor(m => m.BaseUrl)
        <span class="hint">@T("Enter the fully qualified domain url of the web site.")</span>
        <span class="hint">@T("http://www.yourdomain.com")</span>
    </div>
</fieldset>