@model MainBit.Localization.Models.MainBitLocalizationItemRecord
@using MainBit.Localization.Models
@using Orchard.ContentManagement
@{
    var settings = WorkContext.CurrentSite.As<MainBitLocalizationSettingsPart>();           
           
}

<fieldset>
    <legend>@T("Domain Localization")</legend>
    <div class="editor-field">
        @Html.LabelFor(m => m.MainBitLocalizationSettingsItemRecord_Id, T("Main Domain"))
        @Html.DropDownListFor(x => x.MainBitLocalizationSettingsItemRecord_Id, settings.Items.Select(p => new SelectListItem() { Value = p.Id.ToString(), Text = p.Culture }))
        <span class="hint"></span>
    </div>
    <div class="editor-field">
        @Html.LabelFor(m => m.LocalizedContentItemId, T("Localized Content Item Id"))
        @Html.EditorFor(m => m.LocalizedContentItemId)
        <span class="hint"></span>
    </div>
</fieldset>